.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

img {
  width: 100%;
}

.entry-form-items > div {
  margin-bottom: 2em;
}

.entry-form-items > div > * {
  width: 100%;
}

#notes-div {
  margin-top: 0;
}

h3 {
  margin: auto;
}

ul {
  padding: 0;
}

/* #entries-div > div {
  margin-top: auto;
  margin-bottom: 1.625;
} */

@media screen and (min-width: 768px) {
  /* pc */

  #notes-div {
    margin-top: 2em;
  }

  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  /* #entries-div > div {
    margin-top: 1.687rem;
    margin-bottom: 3.43rem;
  } */
}
