/* stylelint-disable string-quotes */
body {
  background-color: #f0f0f0;
  font-family: 'Proza Libre', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

header {
  background-color: #562b81;
  border: solid #562b81;
  color: white;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #292929;
}

input[type='text'],
textarea {
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-width: 1px;
  padding: 5px;
  border-color: #b6b6b6;
}

textarea {
  height: 149px;
}

input[type='text']:focus,
textarea:focus {
  outline: 1px solid #562b81;
  border-width: 1px;
  border-color: #562b81;
}

label {
  height: 16px;
  display: inline-block;
  margin-bottom: 15px;
}

.save-button {
  border-width: 0;
  border-radius: 4px;
  background-color: #562b81;
  color: white;
  width: 72px;
  height: 32px;
  margin-left: auto;
}

.delete-button {
  color: #dc2626;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  border: 0;
  padding: 0;
}

#entry-form-save-delete-column {
  display: flex;
  justify-content: space-between;
}

.list-item-entry {
  list-style-type: none;
  margin-bottom: 13px;
}

p {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.entry-image {
  border-radius: 4px;
  padding-bottom: 13px;
}

#no-entries-alert {
  text-align: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

#entries-link {
  font-size: 16px;
}

#code-journal-h1 {
  font-size: 20px;
  padding-right: 10px;
}

.top-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#entry-form-link {
  display: inline-block;
  border-radius: 4px;
  background-color: #562b81;
  width: 59px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.entry-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-pencil {
  scale: 1.25;
  padding: 0 0.75rem;
}

h3 {
  margin: 0;
}

#modal-main {
  position: fixed;
  top: 0;
  background-color: rgba(41, 41, 41, 0.75);
  width: 100%;
  height: 100%;
}

.confirm-delete {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  position: fixed;
  width: 319px;
  height: 131px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.confirm-delete > h3 {
  color: #000;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  width: 291px;
  text-align: center;
}

.confirm-delete-buttons {
  font-family: inherit;
  font-weight: 600;
  width: 291px;
  display: flex;
  justify-content: space-between;
}

.confirm-delete-buttons > * {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 9px;
  border-radius: 4px;
  border: 0;
}

.confirm-delete-buttons > button[name='cancel'] {
  background: #b6b6b6;
  color: #292929;
}

.confirm-delete-buttons > button[name='confirm'] {
  background-color: #dc2626;
  color: #fff;
}

#entries-link:hover,
#entry-form-link:hover,
button:hover,
.fa-pencil:hover {
  cursor: pointer;
}
