/* stylelint-disable string-quotes */
body {
  background-color: #f0f0f0;
  font-family: 'Proza Libre', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

header {
  background-color: #562b81;
  border: solid #562b81;
  color: white;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #292929;
}

input[type='text'],
textarea {
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-width: 1px;
  padding: 5px;
  border-color: #b6b6b6;
}

textarea {
  height: 149px;
}

input[type='text']:focus,
textarea:focus {
  outline: 1px solid #562b81;
  border-width: 1px;
  border-color: #562b81;
}

label {
  height: 16px;
  display: inline-block;
  margin-bottom: 15px;
}

button {
  border-width: 0;
  border-radius: 4px;
  background-color: #562b81;
  color: white;
  position: relative;
  width: 72px;
  height: 32px;
  left: calc(100% - 72px);
}

.list-item-entry {
  list-style-type: none;
  margin-bottom: 13px;
}

p {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.entry-image {
  border-radius: 4px;
  padding-bottom: 13px;
}

#no-entries-alert {
  text-align: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

#entries-link {
  font-size: 16px;
}

#code-journal-h1 {
  font-size: 20px;
  padding-right: 10px;
}

.top-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#entry-form-link {
  display: inline-block;
  border-radius: 4px;
  background-color: #562b81;
  width: 59px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

#entries-link:hover,
#entry-form-link:hover,
button:hover {
  cursor: pointer;
}

.entry-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-pencil {
  scale: 1.25;
  padding: 0 0.75rem;
}

h3 {
  margin: 0;
}
